name: Deployment Exercise 2
on: push
jobs:
  lint:
    runs-on: ubuntu-latest
    steps: 
      - name: Get code
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm ci
      - name: Lint
        run: npm run lint
    test:
      needs: lint
      runs-on: ubuntu-latest
      steps:
        - name: get code
          runs: actions/checout@v3
        - name: install dependencies
          run: npm ci
        - name: test code
          run: npm test 
          
