name: install nodejs

on:
  push:

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: install dependencies
        run: npm ci

      - name: lint
        run: npm run lint

      - name: build code
        run: npm run build